<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Courses</title>
    <link rel="stylesheet" href="fonts/font-awesome.css">
    <link rel="stylesheet" href="fonts/google-fonts.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='course.css')}}">
    <script src="course/jquery.js"></script>
</head>
<body>

  <!-- header section starts  -->



<!-- <a href="#" class="logo"><img src="" alt=""></a> -->


 
<header class="head" id="header">

  <a href="#" class="logo"><img src="" alt=""></a>
  
  <nav>
    <ul>
      <li><a href="/course"></a></li>
      <li><a href="#course"></a></li>
      <li><a href="#service"></a></li>
      <li><a href="#testimonial"></a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
 



<!-- <&#45;&#45; header section ends &ndash;&gt;--> 

<!-- home section starts  -->

<!-- <section id="home" class="container-fluid">

<div class="row align-items-center min-vh-100 content">

<div class="col-md-8 ml-md-5 text-center text-md-left">

  <h2>online</h2>
  <h1>education</h1>
  <h3>learn online from home</h3>

  <a href="#course"><button> enroll now >></button></a>  

  <div class="icons">
    <a href="#" class="fab fa-facebook-f"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-instagram"></a>
    <a href="#" class="fab fa-linkedin"></a>
  </div>

</div>

</div>


</section> --> 

<!-- home section ends -->

<!-- course section starts  -->

<section id="course">

<h1 class="heading">our latest courses</h1>

<div class="box-container">

  <div class="box" data-aos="flip-right">
    <h3 class="heading">Teacher Section >></h3>
    <!-- <img src="{{url_for('static',filename='download.png')}}" alt=""> -->
    <p>The most important thing is, whatever you do decide to choose, take it seriously and do your best</p>
    <a href="/techupload">
      <button type="button" class="submit-btn">Explore>></button>
      </a><!--not complete-->
  </div>

  <div class="box" data-aos="flip-down">
    <img src="{{url_for('static',filename='ai-artificial-intelligence-logo-hand_127544-58.jpg')}}" alt="">
    <p>The most important thing is, whatever you do decide to choose, take it seriously and do your bestThe most important thing is, whatever you do decide to choose, take it seriously and do your best</p>
  </div>

  <div class="box" data-aos="flip-left">
    <img src="{{url_for('static',filename='depositphotos_107094696-stock-illustration-machine-learning-infographic-connected-intelligence.jpg')}}" alt="">
    <p>The most important thing is, whatever you do decide to choose, take it seriously and do your best</p>
  </div>

  <div class="box" data-aos="flip-right">
    <img src="{{url_for('static',filename='isometric-icons-cloud-with-books-computer-smartphone_107791-3478.jpg')}}" alt="">
    <p>The most important thing is, whatever you do decide to choose, take it seriously and do your best</p>
  </div>

  <div class="box" data-aos="flip-up">
    <img src="{{url_for('static',filename='python-programming-language.png')}}"  alt="">
    <p>The most important thing is, whatever you do decide to choose, take it seriously and do your best.</p>
    <a href="/playvideo">
    <button type="button" class="submit-btn">Explore>></button>
    </a>
  </div>

  <div class="box" data-aos="flip-right">
    <img src="{{url_for('static',filename='css.jpg')}}" alt="">
    <p>This is our Teacher section You can Acess all of our Teachers videos From here</p>
    <a href="/techupload">
<!--    <button type="button" class="submit-btn">Explore>></button>-->
    </a><!--not complete-->
  </div>

</div>

</section>

<!-- course section ends -->


<!-- testimonials section starts  -->

<section id="testimonial">

<h1 class="heading">what our students says</h1>

<div class="box-container">

<div class="box" data-aos="flip-left">
  <img src="{{url_for('static',filename='download.jpg')}}" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>The most important thing is, whatever you do decide to choose, take it seriously and do your best<i class="fas fa-quote-right"></i></p>
    <h2>--someone's name</h2>
  </div>
</div>

<div class="box" data-aos="flip-right">
  <img src= "{{url_for('static',filename='successful-college-student-lg.png')}}" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>The most important thing is, whatever you do decide to choose, take it seriously and do your best<i class="fas fa-quote-right"></i></p>
    <h2>--someone's name</h2>
  </div>
</div>

<div class="box" data-aos="flip-left">
  <img src="{{url_for('static',filename='Student.png')}}" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>The most important thing is, whatever you do decide to choose, take it seriously and do your best<i class="fas fa-quote-right"></i></p>
    <h2>--someone's name</h2>
  </div>
</div>

<div class="box" data-aos="flip-right">
  <img src="{{url_for('static',filename='001-e1584903600816.png')}}" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>The most important thing is, whatever you do decide to choose, take it seriously and do your best<i class="fas fa-quote-right"></i></p>
    <h2>--someone's name</h2>
  </div>
</div>

</div>

</section>

<!-- testimonials section ends -->


<!-- footer section starts  -->

<section id="footer">

<h1>&copy; copyright @ 2021 by <span>web designer</span></h1>

</section>

<!-- footer section ends -->






<!-- script part start  -->

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      delay:500
    });
</script>


</body> 
</html>