<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='upload.css')}}">
    <title>Document</title>
</head>
<body>
    <header class="head" id="header">

        <a href="#" class="logo"><img src="" alt=""></a>
        
        <nav>
          <ul>
            <li><a href="/course">Go To Courses</a></li>
            <li><a href="#course"></a></li>
            <li><a href="#service"></a></li>
            <li><a href="#testimonial"></a></li>
            <li><a href="#contact"></a></li>
          </ul>
        </nav>

    <section id="course">

        <h1 class="heading">Techers Videos</h1>


        <div>
        <h1>UPLOADED VIDEOS</h1>
         <video width="360" height="240" controls>

                <source src="static/{{filename}}" type=video/mp4>

              </video>
        </div>
         </section>

</body>
</html>


    